body {background-color: rgb(86, 160, 255)}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
	font-size: 120%;
}

ul#menu li a:hover {
    background-color: orange;
}